<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>项目</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

<div id="wrapper">
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> 
                            <span class="block m-t-xs"> 
                            <strong class="font-bold">Captain.QS</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    IPRO
                </div>

            </li>
            <li>
                <a href="/project">
                    <i class="fa fa-sitemap"></i>
                    <span class="nav-label">项目管理</span>
                </a>
            </li>
            <li>
                <a href="/list">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-label">试卷管理</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="page-wrapper" class="gray-bg" style="min-height:914px">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Project list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/list">Questionnaires list</a>
                </li>
                <li class="active">
                    <strong class="QuestionnaireId"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <!-- 项目列表 -->
        <div class="panel panel-default">
            <div class="panel-body ">
                <div class="form-group col-md-offset-2 col-md-8">
                    <label class="control-label" for="inputQuetitle">Input with title </label>
                    <input type="text" class="form-control" id="inputQuetitle">
                </div>
                <div class="form-group col-md-offset-2 col-md-8">
                    <label class="control-label" for="inputQueDet">Input detailed introduction </label>
                    <input type="text" class="form-control" id="inputQueDet">
                </div>
                <div class="form-group col-md-offset-2 col-md-8" id="questions">
                    <div class="btn btn-primary addQuestion col-md-6">添加问题</div>
                    <div class="btn btn-info addDescription col-md-6">添加描述</div>
                </div>
                <div class="btn btn-success btn_submit" id="submit_id">提交问卷</div>
            </div>
        </div>
        <!-- end -->
    </div>
</div>
<!-- Mainly scripts -->
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="javascripts/inspinia.js"></script>
<script src="javascripts/plugins/pace/pace.min.js"></script>
<script src="javascripts/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Peity -->
<script src="javascripts/plugins/peity/jquery.peity.min.js"></script>

<!-- iCheck -->
<script src="javascripts/plugins/iCheck/icheck.min.js"></script>

<!-- Peity d data  -->
<script src="javascripts/demo/peity-demo.js"></script>



<script>
    $(document).ready(function(){
        WinMove();
        $('.QuestionnaireId').text(window.location.search.replace('?paperId=',''))
        $(".addQuestion").click(function () {
            $(".addQuestion").before('<div class="panel panel-default">' +

                '<div class="panel-body question">' +
                '<input class="type" type="hidden" value="1">' +
                '<input class="col-md-12 quesDetail" type="text" value="问题详情">' +
                '<input class="col-md-7 option" value="选项"><input class="col-md-5 score" value="评分">' +
                '<input class="col-md-7 option" value="选项"><input class="col-md-5 score" value="评分">' +
                '<input class="btn btn_add_option" value="+"><input class="btn btn_delete_option" value="-">'+
                '</div></div>');
            $('.btn_add_option').click(function(){
                $(this).before('<input class="col-md-7 option" value="选项"><input class="col-md-5 score" value="评分">');
            });
            $('.btn_delete_option').click(function(){
                var parent = $(this).parent();
                var length = parent[0].childNodes.length;
                parent[0].childNodes[length-3].remove();
                parent[0].childNodes[length-4].remove();
            });

        });

        $('.addDescription').click(function () {
            $(".addQuestion").before('<div class="panel panel-default" >' +
                '<div class="panel-body question">' +
                '<input class="type" type="hidden" value="2">' +
                '<textarea class="col-md-12 quesDetail" cols="2"  >题目描述</textarea>' +
                '</div></div>')
        });

        $('.btn_submit').click(function () {
            var title = $('#inputQuetitle').val();
            var detailed = $('#inputQueDet').val();
            var questionList = [];
            $('.question').each(function () {
                var type = $(this).children('.type').val();
                console.log('type =  '+type);
                if(type === '1'){
                    var quesDetail = $(this).children('.quesDetail').val();
                    var node =$(this).children('input');
                    var nodeNum = node.length;
                    var options = [];
                    for(var i =2;i<nodeNum-2;){
                        var option ={
                            'text':node[i].value,
                            'value':node[i+1].value
                        };
                        options.push(option);
                        i = i+2;
                    }
                    var question = {
                        "title": quesDetail,
                        "type": type,
                        "option": options
                    };
                    questionList.push(question);
                }else{
                    var quesDetail = $(this).children('.quesDetail').val();
                    var question = {
                        "title": quesDetail,
                        "type": type
                    };
                    questionList.push(question);

                }


            });
            //
            var json = {
                "paperTitle": title,
                "desc": detailed,
                "questionList":questionList

            };
            var data = JSON.stringify(json);
            console.log(data);
            
            $.post('/insert',{data:data},function(e){console.log(e)}).done(function(){
                alert('试卷插入成功！！！');
                self.location = '/list';
            })
        })
    });
</script>

</body>
</html>