<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>项目</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div id="wrapper">
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> 
                            <span class="block m-t-xs"> 
                            <strong class="font-bold">Captain.QS</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    IPRO
                </div>

            </li>
            <li>
                <a href="/project">
                    <i class="fa fa-sitemap"></i>
                    <span class="nav-label">项目列表</span>
                </a>
            </li>
            <li>
                <a href="" class="ProjectInfo">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-label">项目详情</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="page-wrapper" class="gray-bg" style="min-height:914px">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Project list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/project">Project list</a>
                </li>
                <li class="active">
                    <strong class="projectNo"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <!-- 项目列表 -->
        <div class="ibox">
            <div class="ibox-title">
                <h5>To participate in the project to complete the project</h5>
            </div>
            <div class="ibox-content">
                <div class="project-list">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td class="project-status">
                                <span class="label label-warning">Finshed</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">90后爱国</a>
                                <br>
                                <small>Created 14.12.2015</small>
                            </td>
                            <td class="project-completion">
                                    <small>Completion with: 100%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 100%;" class="progress-bar"></div>
                                    </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/a3.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-primary">Active</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">plutus</a>
                                <br>
                                <small>Created 01.02.2016</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 28%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 28%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/a7.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-default">Unactive</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">Fairy_LFen</a>
                                <br>
                                <small>Created 11.05.2016</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 8%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 8%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/a5.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-primary">Active</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">明升~张帆远</a>
                                <br>
                                <small>Created 22.12.2015</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 83%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 83%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/a2.jpg"></a>

                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-primary">Active</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">剩半颗恋人心 换不回</a>
                                <br>
                                <small>Created 14.04.2016</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 97%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 97%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/a4.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-primary">Active</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">哈哈^_^一笑</a>
                                <br>
                                <small>Created 22.09.2015</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 48%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/a1.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-primary">Active</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">小福</a>
                                <br>
                                <small>Created 27.02.2016</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 28%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 28%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/p3.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-status">
                                <span class="label label-default">Unactive</span>
                            </td>
                            <td class="project-title">
                                <a href="project_detail.html">Mnat</a>
                                <br>
                                <small>Created 10.05.2016</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: 8%</small>
                                <div class="progress progress-mini">
                                    <div style="width: 8%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <a href=""><img alt="image" class="img-circle" src="images/p5.jpg"></a>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div id="right-wrapper"></div>
</div>


<!-- Mainly scripts -->
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="javascripts/inspinia.js"></script>
<script src="javascripts/plugins/pace/pace.min.js"></script>

<script>
    $(document).ready(function(){
        var projectNo = window.location.search.replace('?projectNo=','')
        $('.projectNo').text(projectNo)
        $('.ProjectInfo').attr('href', '/getProjectNo?projectNo='+ projectNo)
        $('#loading-example-btn').click(function () {
            btn = $(this);
            simpleLoad(btn, true)
            simpleLoad(btn, false)
        });
    });

    function simpleLoad(btn, state) {
        if (state) {
            btn.children().addClass('fa-spin');
            btn.contents().last().replaceWith(" Loading");
        } else {
            setTimeout(function () {
                btn.children().removeClass('fa-spin');
                btn.contents().last().replaceWith(" Refresh");
            }, 2000);
        }
    }


</script>

</body>
</html>