<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>项目</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css"> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div id="wrapper">
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> 
                            <span class="block m-t-xs"> 
                            <strong class="font-bold">Captain.QS</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    IPRO
                </div>

            </li>
            <li>
                <a href="/project">
                    <i class="fa fa-sitemap"></i>
                    <span class="nav-label">项目列表</span>
                </a>
            </li>
            <li>
                <a href="" class="ProjectInfo">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-label">项目详情</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="page-wrapper" class="gray-bg" style="min-height:914px">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Project Info</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/project">Project list</a>
                </li>
                <li class="active">
                    <strong class="projectNo"></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <!-- 项目列表 -->
        <div class="ibox">
            <div class="ibox-title">
                <h5>To participate in the project to complete the project</h5>
            </div>
            <div class="ibox-content">
                <div class="project-list">
                    <table class="table table-hover">
                        <tbody>
                        <%for(var i = 0;i < mapKeys.length;i++){%>
                            <tr>
                            <% if( (data[mapKeys[i]].progress*100).toFixed(0) >= 100 ) {%>
                            <td class="project-status">
                                <span class="label label-warning">Finshed</span>
                            </td>
                            <% }else { %>
                            <td class="project-status">
                                <span class="label label-primary">Active</span>
                            </td>
                            <% } %>
                            
                            <td class="project-title">
                                <a href="project_detail.html"><%=data[mapKeys[i]].userName%></a>
                                <br>
                                <small>Created <%=data[mapKeys[i]].participateTime%></</small>
                            </td>
                            <td class="project-completion">
                                    <small>Completion with: <%= (data[mapKeys[i]].progress * 100).toFixed(0) %> %</small>
                                    <div class="progress progress-mini">
                                        <div style="width: <%=data[mapKeys[i]].progress *100 %>%;" class="progress-bar"></div>
                                    </div>
                            </td>
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                            </td>
                        </tr>
                        <% }%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div id="right-wrapper"></div>
</div>


<!-- Mainly scripts -->
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="javascripts/inspinia.js"></script>
<script src="javascripts/plugins/pace/pace.min.js"></script>

<script>
    $(document).ready(function(){


        var projectNo = window.location.search.replace('?projectNo=','')
        $('.projectNo').text(projectNo)
        $('.ProjectInfo').attr('href', '/getProjectNo?projectNo='+ projectNo)
        $('#loading-example-btn').click(function () {
            btn = $(this);
            simpleLoad(btn, true)
            simpleLoad(btn, false)
        });


            $('.addAction').click(function () {
        $('.addAction').before('<div class="panel panel-default">' +
            '<div class="panel-body actions">' +
            '<div class="row"><p class="col-md-4">输入活动点：</p><input class="col-md-4 timePoint"></div>' +
            '<div class="row"><button class="btn btn-success btn_add_action col-offset-md-2 col-md-4">添加action</button><button class="btn btn-warning btn_delete_action  col-offset-md-2 col-md-4">删除action</button></div>' +
            '</div></div>');
            
        
        // $('.btn_add_action').click(function () {
        //     console.log('~')
        //     var _self = this;
        //     var html = '';
        //     console.log(_self)
        //     $.get('/getActionList', function (actions) {
        //         html += '<div class="row"><p class="col-md-4">选择一个action：</p><select class="form-control-my" >';
        //         for (var i in actions) {
        //             html += '<option class="col-md-4" vaule="' + actions[i].actionNo + '">' + actions[i].actionName + '</option>';
        //         }
        //         html += '</select></div>';
        //         console.log(html)
        //         $(_self).before(html)
        //         html ='';
        //     })
        // });


    });

    $('.btn_submit_project').click(function () {
        var projectName = $('#projectName').val();
        var projectDesc = $('#projectDesc').val();
        var scheduleTimeLevel = '';
        var actionList = [];
        var radio = $(':radio');
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked) {
                scheduleTimeLevel = $(radio[i]).val();
            }
        }
        var panelNum = $('.panel .panel-default');
        for (var i = 0; i < panelNum.length; i++) {
            // console.log(panelNum[i])
            var panelChild = $(panelNum[i]).children();
            console.log('timePoint', $($(panelChild[0]).children()[0]).children('.timePoint').val());
            var num = $($(panelChild[0]).children()[1]).children('.row').length;
            for (var j = 0; j < num; j++) {
                var row = $($(panelChild[0]).children()[1]).children('.row')[j];
                // console.log(actionNo, $(row).children('select').find("option:selected").val());
                console.log('timePoint', $($(panelChild[0]).children()[0]).children('.timePoint').val());
                console.log('actionNo', $(row).children('select').val());
                var point = {
                    "timePoint": $($(panelChild[0]).children()[0]).children('.timePoint').val(),
                    "actionNo": $(row).children('select').val()
                }
                actionList.push(point);

            }
        }
        // function GetJsonData(projectName, projectDesc, scheduleTimeLevel, actionList) {
        //     var json = {
        //         "projectName": projectName,
        //         "projectDesc": projectDesc,
        //         "scheduleTimeLevel": scheduleTimeLevel,
        //         "actionList": actionList
        //     }
        //     return json;
        // }


        // $.ajax({
        //     type: "POST",
        //     url: "/insertProject",
        //     data: JSON.stringify(GetJsonData(projectName, projectDesc, scheduleTimeLevel, actionList)),
        //     contentType: "application/json; charset=utf-8",
        //     dataType: "json",
        //     success: function (msg) {
        //         alert("Data Saved: " + msg);
        //     }
        // });

        var json = {
            "projectName": projectName,
            "projectDesc": projectDesc,
            "scheduleTimeLevel": scheduleTimeLevel,
            "actionList": actionList

        };
        var data = JSON.stringify(json);
        console.log(data);
        $.post('/insertProject', { data: data }, function (e) {  
            self.location = '/project';
        })
    });

    //绑定到还为生成的node节点上 见jquery delegate
    $('#questions').delegate('.btn_add_action', 'click', function () {
        var _self = this;
        var html = '';
        console.log(_self)
        $.get('/getActionList', function (actions) {
            html += '<div class="row"><p class="col-md-4">选择一个action：</p><select class="form-control-my" >';
            for (var i in actions) {
                html += '<option class="col-md-4" value="' + actions[i].actionNo + '">' + actions[i].actionName + '</option>';
            }
            html += '</select></div>';
            $(_self).before(html)
        })
    });
    $('#questions').delegate('.btn_delete_action', 'click', function () {
        var parent = $(this).parent();
        var length = parent[0].childNodes.length;
        console.log(length);
        parent[0].childNodes[length - 4].remove();

    })
    });

    function simpleLoad(btn, state) {
        if (state) {
            btn.children().addClass('fa-spin');
            btn.contents().last().replaceWith(" Loading");
        } else {
            setTimeout(function () {
                btn.children().removeClass('fa-spin');
                btn.contents().last().replaceWith(" Refresh");
            }, 2000);
        }
    }


</script>

</body>
</html>